/* default */
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select, textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

header, footer {
  font-family: 'Muli', sans-serif !important; }

/* dbcls-common-header */
.dbcls-common-header {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 24px;
  background: linear-gradient(#004098, #1B2244); }
  .dbcls-common-header nav.gnav {
    width: 1024px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between; }
    .dbcls-common-header nav.gnav ul {
      width: 400px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .dbcls-common-header nav.gnav ul li {
        list-style: none;
        color: #fff;
        font-size: 12px;
        font-weight: 600; }
        .dbcls-common-header nav.gnav ul li a {
          text-decoration: none;
          color: white;
          font-weight: 600;
          font-size: 12px; }
          .dbcls-common-header nav.gnav ul li a img.dbcls-logo {
            width: 55px;
            height: auto;
            padding-top: 4px;
            padding-left: 5px; }

.f-hide-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: inherit; }

#featured-services.gnav-services:after {
  content: url(../img/down-arrow.svg);
  width: 12px;
  display: inline-block;
  padding-left: 4px;
  margin-right: -3px; }

#featured-services .f-bg {
  z-index: 2;
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  text-align: center; }
  #featured-services .f-bg .f-services__contents {
    width: 100%;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9); }
    #featured-services .f-bg .f-services__contents img {
      width: 170px;
      height: 43px;
      object-fit: contain;
      margin: 10px 5px; }

#featured-services .f-services__btn {
  color: #004098;
  display: flex;
  align-items: center;
  font-size: 10px;
  padding: 3px 7px;
  border: 1px solid #004098;
  border-radius: 12px;
  background: white;
  height: 22px;
  margin-left: auto;
  margin-right: 45px;
  text-decoration: none;
  width: 57px;
  cursor: pointer;
  text-decoration: none; }
  #featured-services .f-services__btn:before {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    margin-right: 5px;
    background-image: url(../img/icon_more.svg);
    background-repeat: no-; }

.dammy-contents {
  margin-top: 24px;
  margin-bottom: 50px; }

.dammy-text {
  font-size: 57px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 907px; }

/* dbcls-common-footer */
footer#dbcls-common-footer {
  padding: 0; }
  footer#dbcls-common-footer .footer__common {
    padding-bottom: 20px;
    background-color: #f9f8f5;
    width: 100%;
    color: #444; }
    footer#dbcls-common-footer .footer__common .footer__wrapper {
      padding-top: 30px;
      padding-bottom: 18px;
      width: 800px;
      margin: 0 auto; }
      footer#dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info {
        padding-right: 65px;
        display: -wekit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        footer#dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__organism {
          padding-top: 9px; }
          footer#dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__organism .footer__logo {
            width: 150px;
            height: auto;
            display: block;
            margin: 0 auto; }
          footer#dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__organism .footer__organism-text {
            text-align: center;
            margin-top: 11px;
            margin-bottom: 20px; }
            footer#dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__organism .footer__organism-text .footer__organism-sub {
              font-size: 12px;
              line-height: 1.5em;
              text-align: center; }
            footer#dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__organism .footer__organism-text .footer__organism-main {
              font-size: 15px;
              font-weight: 700;
              letter-spacing: -0.5px; }
        footer#dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__address {
          width: 357px;
          margin-top: 15px; }
          footer#dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__address div.footer-title {
            font-weight: 800;
            font-size: 14px;
            margin-bottom: 10px; }
          footer#dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__address ul.address__list {
            list-style: none;
            display: -wekit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between; }
            footer#dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__address ul.address__list li {
              font-size: 12px;
              line-height: 1.5em; }
              footer#dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__address ul.address__list li p {
                line-height: 1.5em; }
  footer#dbcls-common-footer a {
    text-decoration: none;
    color: #444; }
    footer#dbcls-common-footer a:hover {
      color: #004098;
      border-bottom: solid 1px #004098; }

.footer__lisence p {
  font-size: 10px;
  display: flex;
  justify-content: center; }
  .footer__lisence p:before {
    content: "";
    width: 81px;
    height: 16px;
    display: block;
    background: url(../img/by.svg) no-repeat; }
