---
---
<!DOCTYPE html>
<html lang="en" data-page-type="index">

<head>
	<meta charset="UTF-8">
	<title>DBCLS ｜ Database Center for Life Science</title>
	<link rel="stylesheet" href="style/swiper-bundle.min.css">
	<link rel="stylesheet" href="style/default.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="script/splide.min.js"></script>
</head>

<body>
	{% include header_en.html %}
	<div class="main-image__wrapper">
		<div class="main-image__contents" data-slides-per-view="{{site.data.carousel.slides_per_view}}"
			data-duration="{{site.data.carousel.duration}}">
			<div class="swiper main-carousel">
				<div class="swiper-wrapper main">
					{% for item in site.data.carousel.items limit:site.data.carousel.slides_per_view %}
					<div class=" swiper-slide">
						<a href="{{item.url.en}}" target="_blank"><img draggable="false" class="top-image" src="{{item.image}}"
								alt="{{item.title.en}}"></a>
						<img draggable="false" class="reflection" src="{{item.image}}" alt="{{item.title.en}}">
						<div class="details">
							<a href="{{item.url.en}}" target="_blank"><img draggable="false" class="details-logo" src="{{item.logo}}"
									alt="{{item.title.en}}"></a>
							<h2>{{item.title.en}}</h2>
							<p>{{item.description.en}}
							</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div thumbsSlider="" class="swiper thumbnail-carousel">
				<div class="swiper-button-prev"></div>
				<div class="swiper-wrapper">
					{% for item in site.data.carousel.items limit:site.data.carousel.slides_per_view %}
					<div class="swiper-slide"><img draggable="false" src="{{item.image}}" alt="{{item.title.en}}">
					</div>
					{% endfor %}
				</div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
	<div class="top__news-section">
		<h2 class="page-title">News</h2>
		<ul class="news__individual-wrapper">
			{% for post in site.categories.en limit:5 %}
			<li class='post__individual'>
				<div class="post__date">
					{{post.date | date: '%Y. %m. %d'}}
				</div>
				<div class="post__main post__main-top">
					<a href="{{post.url | prepend: site.baseurl}}" class="post__title">{{post.title}}</a>
					{% assign beginning = post.content | slice: 0, 300 | strip_html%}
					<p class='post__desc-beginning'>{{beginning | slice: 0, 50}}…</p>
					<div class="post__sub-info">
						<div class="post-tags">
							{% include post_meta.html %}
						</div>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
		<a href="news-en.html" class="more_btn page_btn">more</a>
	</div>
	{% include footer_en.html %}


	<script src="script/default.min.js"></script>
	<script src="script/swiper-bundle.min.js"></script>
	<script src="script/index.js"></script>
</body>

</html>