---
---
<!DOCTYPE html>
<html lang="en" data-page-type="index">

<head>
	<meta charset="UTF-8">
	<title>DBCLS ｜ Database Center for Life Science</title>
	<link rel="stylesheet" href="style/default.css">
	<link rel="stylesheet" href="style/splide.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="script/splide.min.js"></script>
</head>

<body>
	{% include header_en.html %}
	<section class="splide">
		<div class="splide__slider">
			<div class="splide__track">
				<ul class="splide__list">
					<li class="splide__slide">
						<img src="img/top_assets/main0.jpg" alt="">
					</li>
					<li class="splide__slide">
						<img src="img/top_assets/main1.jpg" alt="">
					</li>
					<li class="splide__slide">
						<img src="img/top_assets/main2.jpg" alt="">
					</li>
					<li class="splide__slide">
						<img src="img/top_assets/main4.jpg" alt="">
					</li>
					<li class="splide__slide">
						<img src="img/top_assets/main5.jpg" alt="">
					</li>
				</ul>
			</div>
		</div>
		<div class="splide__progress">
			<div class="splide__progress__bar">
			</div>
		</div>
		<button class="splide__toggle" type="button">
			<span class="splide__toggle__play">Play</span>
			<span class="splide__toggle__pause">Pause</span>
		</button>
	</section>

	</div>
	<div class="top__news-section">
		<h2 class="page-title">News</h2>
		<ul class="news__individual-wrapper">
			{% for post in site.categories.en limit:5 %}
			<li class='post__individual'>
				<div class="post__date">
					{{post.date | date: '%Y. %m. %d'}}
				</div>
				<div class="post__main post__main-top">
					<a href="{{post.url | prepend: site.baseurl}}" class="post__title">{{post.title}}</a>
					{% assign beginning = post.content | slice: 0, 300 | strip_html%}
					<p class='post__desc-beginning'>{{beginning | slice: 0, 50}}…</p>
					<div class="post__sub-info">
						<div class="post-tags">
							{% include post_meta.html %}
						</div>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
		<a href="news-en.html" class="more_btn page_btn">more</a>
	</div>
	{% include footer_en.html %}


	<script src="script/default.js"></script>
	<script src="script/index.js"></script>
</body>

</html>