---
---
<!DOCTYPE html>
<html lang="ja" data-page-type="index">
<head>
	<meta charset="UTF-8">
	<title>DBCLS ｜ Database Center for Life Science</title>
	<link rel="stylesheet" href="style/default.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
{% include header_en.html %}
<div class="main-image__wrapper">
	<div class="main-image__contents">
		<div class="active">
			<img src="img/top_assets/main0.jpg" alt="">
		</div>
		<div>
			<img src="img/top_assets/main1.jpg" alt="">
		</div>
		<div>
				<img src="img/top_assets/main2.jpg" alt="">
		</div>
		<div>
				<img src="img/top_assets/main4.jpg" alt="">
		</div>
		<div>
				<img src="img/top_assets/main5.jpg" alt="">
		</div>
		<div>
				<img src="img/top_assets/main7.jpg" alt="">
		</div>
		<div>
				<img src="img/top_assets/main8.jpg" alt="">
		</div>		
	</div>

</div>
<div class="top__news-section">
	<h2 class="page-title">News</h2>
		<ul class="news__individual-wrapper">
			{% for post in site.categories.en limit:5 %}
				<li class='post__individual'>
					<div class="post__date">
						{{post.date | date: '%Y. %m. %d'}}
					</div>
					<div class="post__main post__main-top">
						<a href="{{post.url | prepend: site.baseurl}}" class="post__title">{{post.title}}</a>
						{% assign beginning =  post.content | slice: 0, 150 | strip_html%}
						<p class='post__desc-beginning'>{{beginning | slice: 0, 50}}…</p>
						<div class="post__sub-info">
						  <div class="post-tags">
								{% include post_meta.html %}
							</div>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	<a href="news.html" class="more_btn page_btn">more</a>
</div>
{% include footer_en.html %}


<script src="script/default.js"></script>
</body>
</html>