---
layout: default
title: Posts By Tags
permalink: /tags
---

<ul>
  <li>日本語</li>
  <li>
    <a href="/website/tags-en.html">English</a>
  </li>
</ul>

{% comment %}
<!--
- Create an empty array.
- Obtain a tag name and push it to the array.
- Sort the tag names.
- List tags as a tag cloud.
-->
{% endcomment %}

{% assign tag_names = "" | split: "|"  %}

{% for posts_by_tag in site.tags %}
  {% assign tag_names = tag_names | push: posts_by_tag.first %}
{% endfor %}

{% assign tag_names = tag_names | sort %}

{% include tag_cloud.html tag_names=tag_names %}

<hr>

<section class="posts-by-tags">
  {% for tag_name in tag_names %}
    <div>
      <h3 id="{{ tag_name }}">
        {{ tag_name | capitalize | replace: "_", " " }}
      </h3>
      <ul>
        {% for post in site.tags[tag_name] %}
          {% if post.category contains 'ja' %}
            <li>
              <a href="/website/{{ post.url }}">
                {{ post.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</section>