<footer id="footer">
  <div class="footer__sitemap">
    <div class="footer__wrapper">
      <div class="footer__wrapper__contents">
        <div class="footer__sitenav">
          <h2 class="footer-title">Site map</h2>
          <ul class="nav__wrapper">
            <li>
              <a href="/website/about.html">About</a>
              <ul>
                <li><a href="/website/about.html">センターについて</a></li>
                <li><a href="/website/history.html">沿革</a></li>
                <li><a href="/website/funding.html">予算と財源</a></li>
                <li><a href="/website/faq.html">よくある質問</a></li>
                <li><a href="/website/policy.html">サイトポリシー</a></li>
                <li><a href="/website/logotype.html">ロゴとリボンについて</a></li>
              </ul>
            </li>
            <li><a href="/website/research.html">Research</a>
              <ul>
                <li><a href="/website/research.html">研究開発</a></li>
                <li><a href="/website/publications.html">発表論文一覧</a></li>
              </ul>
            </li>
            <li><a href="/website/services.html">Services</a>
              <ul>
                <li><a href="/website/services.html">サービス一覧</a></li>
                <li><a href="/website/references.html">引用文献一覧</a></li>
              </ul>
            </li>
            <li><a href="/website/events.html">Events</a>
              <ul>
                <li><a href="/website/events.html">開催イベント一覧</a></li>
              </ul>
            </li>
            <li class="line-series">
              <ul>
                <li><a href="/website/news.html">News</a></li>
                <li><a href="/website/members.html">Members</a></li>
                <li><a href="/website/access.html">Access</a></li>
                <li><a href="/website/contact.html">Contact</a></li>
              </ul>
            </li>
            <!--li class="line-series"><a href="">Access</a></li>
						<li class="line-series"><a href="">Content</a></li-->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__common">
    <div class="footer__wrapper">
      <div class="footer__wrapper__contents">
        <div class="footer__info">
          <div class="footer__organism">
            <img src="/website/img/logo_dbcls.svg" alt="" class="footer__logo">
            <div class='footer__organism-text'>
              <p class="footer__organism-sub">大学共同利用機関法人 情報・システム研究機構</p>
              <p class="footer__organism-sub">データサイエンス共同利用基盤施設</p>
              <p class="footer__organism-main">ライフサイエンス統合データベースセンター</p>
            </div>
          </div>
          <div class="footer__address">
            <h2 class="footer-title">Address</h2>
            <ul class="address__list">
              <li>
                <p>〒277-0871</p>
                <p>千葉県柏市若柴178-4-4</p>
                <p>東京大学柏の葉キャンパス
                  <br>駅前サテライト6階</p>
                <p>TEL. 04-7135-5508（代表）
                  <br> FAX. 04-7135-5534（代表）</p>
              </li>
              <li>
                <p>〒411-8540</p>
                <p>静岡県三島市谷田1111</p>
                <p>国立遺伝学研究所
                  <br>生命情報研究センター W412</p>
              </li>
            </ul>
          </div>
          <div class="footer__links">
            <h2 class="footer-title">Links</h2>
            <ul class="links__wrapper">
              <li class="individual_link">
                <a href="http://lifesciencedb.jp/">統合ホームページ</a>
              </li>
              <li class="individual_link">
                <a href="https://youtube.com/togotv/live">DBCLS on YouTubeLive</a>
              </li>
              <!--li class="individual_link">
								<a href="http://jbioinfo.jp/">Japan alliance for Bioscienece Information (JBI)</a>
							</li-->
              <li class="individual_link">
                <a href="https://ds.rois.ac.jp/">データサイエンス共同利用基盤施設</a>
              </li>
              <li class="individual_link">
                <a href="http://www.rois.ac.jp/">情報・システム研究機構</a>
              </li>
              <!--li class="individual_link">
								<a href="http://biosciencedbc.jp/?lng=ja">バイオサイエンスデータベースセンター</a>
							</li-->
              <li class="individual_link">
                <a href="http://www.mext.go.jp/">文部科学省</a>
              </li>
            </ul>
          </div>
        </div>
        <!--div class="footer__outside">	
				</div-->
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__partners">
      <!--h2 class="footer-title">Partners</h2-->
      <ul class="footer__logo-wrapper">
        <li>
          <a href="http://jbioinfo.jp/" target="_blank">
            <img class="logo__jbi" src="/website/img/jbi-3.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://www.ddbj.nig.ac.jp/index.html" target="_blank">
            <img class="logo__ddbj" src="/website/img/ddbj.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://biosciencedbc.jp/" target="_blank">
            <img class="logo__nbdc" src="/website/img/nbdc.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://pdbj.org/" target="_blank">
            <img class="logo__pdbj" src="/website/img/pdbj.png" alt="">
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__lisence">
      <p> &copy; 2018 DBCLS, Licensed under  <a href="https://creativecommons.org/licenses/by/4.0/deed.ja" target="_blank">Creative Commons Attribution 4.0 International license (CC-BY 4.0)</a></p>
    </div>
  </div>
</footer>
