<header class="header-en header" id="header">
	<nav>
		<!--div id="header__languages-en" class='header__language-wrapper'>
			<ul class="qtrans_language_chooser" id="qtranslate-chooser">
				<li class="lang-en">
					<span>en</span>
				</li>
				<li class="lang-ja">
					<span>jp</span>
				</li>
			</ul>
		</div-->
		<ul class='header__nav'>
			<li class='header__nav__contents'>
				<a href="/index-en.html">
					<img src="/img/logo_dbcls_white.svg" alt="" 　class='header__logo'>
				</a>
			</li>
			<li class='header__nav__contents about'>
				<a href="/about-en.html">About</a>
			</li>
			<li class='header__nav__contents research'>
				<a href="/research-en.html">Research</a>
			</li>
			<li class='header__nav__contents services'>
				<a href="/services-en.html">Services</a>
			</li>
			<li class='header__nav__contents events'>
				<a href="/events-en.html">Events</a>
			</li>
			<li class='header__nav__contents members'>
				<a href="/members-en.html">Members</a>
			</li>
			<li class='header__nav__contents access'>
				<a href="/access-en.html">Access</a>
			</li>
			<li class='header__nav__contents contact'>
				<a href="/contact-en.html">Contact</a>
			</li>
			<li class='header__nav__sns'>
				<a href="https://twitter.com/dbcls" target="_blank">
					<span class='header__nav__sns-twitter fa fa-twitter'></span>
				</a>
				<a href="feed-en.xml" target="_blank">
					<span class='header__nav__sns-feed fa fa-rss'></span>
				</a>
			</li>
			<li class='header__nav__search'>
				<div id='header__nav__search-inner'>
						<form id="cse-search-box" action="http://google.com/cse">
							<input type="hidden" name="cx" value="016433857417905697255:vomnfncutdk" />
							<input type="hidden" name="ie" value="UTF-8" />
							<input type="text" name="q" size="31" class="search_section-text"/>
							<input type="submit" name="sa" value="" class="search_section-submit"/>
							<i class="fa fa-search" aria-hidden="true"></i>
						</form>
					<!-- <script>
						(function () {
							var cx = '016433857417905697255:vomnfncutdk';
							var gcse = document.createElement('script');
							gcse.type = 'text/javascript';
							gcse.async = true;
							gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
							var s = document.getElementsByTagName('script')[0];
							s.parentNode.insertBefore(gcse, s);
						})();
					</script> -->
					<gcse:search></gcse:search>
				</div>
				<!-- 				<input class='search__wrapper' type="text">
				<input class='search__submit' type="submit" value=''> -->
			</li>
			<li id="header__languages-en" class='header__language-wrapper'>
				<ul class="qtrans_language_chooser" id="qtranslate-chooser">
					<li class="lang-en">
						<span>English</span>
					</li>
					<li class="lang-ja">
						<span>Japanese</span>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</header>