#dbcls-common-footer {
  /*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
  font-family: "Muli", sans-serif !important;
  padding: 0; }
  #dbcls-common-footer html, #dbcls-common-footer body, #dbcls-common-footer p, #dbcls-common-footer ol, #dbcls-common-footer ul, #dbcls-common-footer li, #dbcls-common-footer dl, #dbcls-common-footer dt, #dbcls-common-footer dd, #dbcls-common-footer blockquote, #dbcls-common-footer figure, #dbcls-common-footer fieldset, #dbcls-common-footer legend, #dbcls-common-footer textarea, #dbcls-common-footer pre, #dbcls-common-footer iframe, #dbcls-common-footer hr, #dbcls-common-footer h1, #dbcls-common-footer h2, #dbcls-common-footer h3, #dbcls-common-footer h4, #dbcls-common-footer h5, #dbcls-common-footer h6 {
    margin: 0;
    padding: 0; }
  #dbcls-common-footer h1, #dbcls-common-footer h2, #dbcls-common-footer h3, #dbcls-common-footer h4, #dbcls-common-footer h5, #dbcls-common-footer h6 {
    font-size: 100%;
    font-weight: normal; }
  #dbcls-common-footer ul {
    list-style: none; }
  #dbcls-common-footer button, #dbcls-common-footer input, #dbcls-common-footer select, #dbcls-common-footer textarea {
    margin: 0; }
  #dbcls-common-footer html {
    box-sizing: border-box; }
  #dbcls-common-footer *, #dbcls-common-footer *:before, #dbcls-common-footer *:after {
    box-sizing: inherit; }
  #dbcls-common-footer img, #dbcls-common-footer video {
    height: auto;
    max-width: 100%; }
  #dbcls-common-footer iframe {
    border: 0; }
  #dbcls-common-footer table {
    border-collapse: collapse;
    border-spacing: 0; }
  #dbcls-common-footer td, #dbcls-common-footer th {
    padding: 0;
    text-align: left; }
  #dbcls-common-footer .footer__common {
    padding-bottom: 20px;
    background-color: #f9f8f5;
    width: 100%;
    color: #444; }
    #dbcls-common-footer .footer__common .footer__wrapper {
      padding-top: 30px;
      padding-bottom: 18px;
      width: 800px;
      margin: 0 auto; }
      #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info-ja {
        padding-right: 65px; }
      #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__organism {
          padding-top: 9px; }
          #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__organism .footer__logo {
            width: 150px;
            height: auto;
            display: block;
            margin: 0 auto; }
          #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__organism .footer__organism-text {
            text-align: center;
            margin-top: 11px;
            margin-bottom: 20px; }
            #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__organism .footer__organism-text .footer__organism-sub {
              font-size: 12px;
              line-height: 1.5em;
              text-align: center; }
            #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__organism .footer__organism-text .footer__organism-main {
              font-size: 15px;
              font-weight: 700;
              letter-spacing: -0.5px; }
        #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__address {
          margin-top: 15px; }
      #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info-ja .footer__address {
        width: 357px; }
      #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info-en .footer__address {
        width: 430px; }
      #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__address div.footer-title {
        font-weight: 800;
        font-size: 14px;
        margin-bottom: 10px; }
      #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__address ul.address__list {
        list-style: none;
        display: flex;
        justify-content: space-between; }
        #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__address ul.address__list li {
          font-size: 12px;
          line-height: 1.5em;
          width: 210px; }
          #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__address ul.address__list li p {
            line-height: 1.5em; }
  #dbcls-common-footer a {
    text-decoration: none;
    color: #444; }
    #dbcls-common-footer a:hover {
      color: #004098;
      border-bottom: solid 1px #004098; }
  #dbcls-common-footer .footer__lisence {
    text-align: center; }
    #dbcls-common-footer .footer__lisence > * {
      display: inline-block; }
    #dbcls-common-footer .footer__lisence svg {
      vertical-align: middle;
      margin-right: 0.5em; }
    #dbcls-common-footer .footer__lisence p {
      font-size: 10px; }
  #dbcls-common-footer.--simple .footer__common {
    padding-bottom: 0;
    background-color: white;
    text-align: center; }
    #dbcls-common-footer.--simple .footer__common .footer__wrapper {
      font-size: 12px;
      line-height: 18px;
      width: auto;
      padding: 2px 0; }
      #dbcls-common-footer.--simple .footer__common .footer__wrapper > * {
        display: inline-block;
        margin: 0 0.75em; }
      #dbcls-common-footer.--simple .footer__common .footer__wrapper > .footer__logo {
        font-weight: bold; }
        #dbcls-common-footer.--simple .footer__common .footer__wrapper > .footer__logo:before {
          content: "";
          display: inline-block;
          width: 12px;
          height: 24px;
          background: url(../img/logo_only-mark.svg) no-repeat 0 0;
          position: relative;
          top: -2px;
          margin-right: 4px;
          vertical-align: middle; }
      #dbcls-common-footer.--simple .footer__common .footer__wrapper > ul > li {
        display: inline-block; }
        #dbcls-common-footer.--simple .footer__common .footer__wrapper > ul > li + li {
          padding-left: 0.5em; }
        #dbcls-common-footer.--simple .footer__common .footer__wrapper > ul > li > a {
          text-decoration: underline; }

@media screen and (max-width: 480px) {
  #dbcls-common-footer .footer__common {
    margin: 0px -250%;
    padding: 0 250% 20px; }
    #dbcls-common-footer .footer__common .footer__wrapper {
      width: 100vw; } }

/*# sourceMappingURL=common-footer.css.map */
