<!DOCTYPE html>
<html lang="en" data-page-type={{page.data-type}}>

<head>
  <meta charset="UTF-8">
  <title>{{page.title}} | DBCLS</title>
  <link rel="stylesheet" href="style/default-min.css">
  <link rel="alternate" type="application/rss+xml" title="My Site RSS" href="/feed.xml" />
  <script src="script/mixitup.min.js"></script>
  <script src="script/mixitup-multifilter.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
  {{content}}
  <script src="script/default.js"></script>
</body>

</html>