---
---
<!DOCTYPE html>
<html lang="en" data-page-type="post">

<head>
  <meta charset="UTF-8">
  <title>{{page.title}} | DBCLS</title>
  <link rel="stylesheet" href="../../../../style/default.css">
  <link rel="alternate" type="application/rss+xml" title="My Site RSS" href="/feed.xml" />
  <link href="../../../../style/github-markdown.css" rel="stylesheet">
  <script src="../../../../script/marked.min.js"></script>
  <script src="../../../../script/ofi.min.js"></script>
</head>

<body>
  {% include header_en.html %}
  <div class="content__wrapper">
    <div class="sub__navigation sticky" style="height: 60vh">
      <h2 class="page-title">News</h2>
      <ul class="sub__navigation-wrapper outline-list-category__wrapper">
        <li class="sub__navigation-title outline-list-category__title active"><a href="/news-en.html">News</a></li>
      </ul>
    </div>
    <div class="main__contents">
      <div class="main__content-title__wrapper">
        <h3 class="main__content-title post__title-individual">{{page.title}}</h3>
        <p class="post__date post__date-individual">{{page.date | date: '%Y. %m. %d'}}&nbsp;&nbsp;/</p>
        <div class="post__tags-individual post-tags">
          {% include post_meta.html %}
        </div>
      </div>
      <div class="post__main-text markdown-body">
        {{content}}
      </div>
    </div>
  </div>
  {% include footer_en.html %}
  <script src="../../../../script/default.js"></script>
  <script src="../../../../script/post.js"></script>
</body>

</html>